.steps-status-section.form-steps{
    padding: 0 0 20px;

    .order-details{
        .text-primary{
            margin-top: 35px;
        }

        .form-steps-status{
            width: 100%;
            .status-tree{ 
                width: 100%;
                display: flex;
                align-items: flex-start;
                margin-top: 43px;
                .status-tree-item{
                    width: 20vw;
                    position: relative;
                    &::before{
                        content: '';
                        width: 20vw;
                        height: 5px;
                        background: rgba(255, 255, 255, 0.3);
                        position: absolute;
                        right: 100%;
                        top: 17px;
                        transform: translateY(-50%);
                        display: block;
                        z-index: 0;
                    }
                    &:first-child{
                        &::before{
                            display: none;
                        }
                    }
                    
                    .item-icon{
                        width: 36px;
                        height: 36px;
                        min-width: 36px;
                        min-height: 36px;
                        border-radius: 50%;
                        color: #ffffff;
                        background: #3a3a3a; 
                        padding: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 2;
                        svg{
                            width: 80%;
                            height: 80%;
                            object-fit: contain;
                        }
                    }
                    &.active{
                        &::before{
                            background: #fff;
                        }
                        .item-icon{
                            background: #262829;
                            color: #ffffff;
                            position: relative;
                            &::before, &::after{
                                content: '';
                                width: 120%;
                                height: 120%;
                                border-radius: 50%;
                                background: transparent;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            &::before{
                                border: 2px solid #262829;
                                opacity: 0.6;
                            }
                            &::after{
                                border: 1px solid #ffffff;
                                width: 160%;
                                height: 160%;
                                opacity: 0.4;
                            }
                        }
                        .item-status{
                            opacity: 1;
                        }
                    }
                    &.completed{
                        .item-icon{
                            background: #fff;
                            color: #000;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        &::before{
                            background: #fff;
                        }
                    }
                    .item-title{
                        margin: 11px 0 1px;
                        color: #333537;
                    }
                }
            }
        }
    }
}
